<%= form_for(@meetings_result) do |f| %>
  <% if @meetings_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meetings_result.errors.count, "error") %> prohibited this meetings_result from being saved:</h2>

      <ul>
      <% @meetings_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stock_id %><br />
    <%= f.text_field :stock_id %>
  </div>
  <div class="field">
    <%= f.label :meeting_type %><br />
    <%= f.text_field :meeting_type %>
  </div>
  <div class="field">
    <%= f.label :meeting_date %><br />
    <%= f.text_field :meeting_date %>
  </div>
  <div class="field">
    <%= f.label :meeting_contact %><br />
    <%= f.text_field :meeting_contact %>
  </div>
  <div class="field">
    <%= f.label :bdl_contact %><br />
    <%= f.text_field :bdl_contact %>
  </div>
  <div class="field">
    <%= f.label :meeting_notes %><br />
    <%= f.text_area :meeting_notes %>
  </div>
  <div class="field">
    <%= f.label :meeting_conclusions %><br />
    <%= f.text_area :meeting_conclusions %>
  </div>
  <div class="field">
    <%= f.label :meeting_object %><br />
    <%= f.text_field :meeting_object %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
