%div{:class=>"tabs"}
  %ul
    %li
      %a{:href=> "#tabs-11"} Investment risks
    %li
      %a{:href=> "#tabs-12"} Business description
    %li
      %a{:href=> "#tabs-13"} Competition
    %li                                
      %a{:href=> "#tabs-14"} Management

  %div#tabs-11
    - form_for(@stock) do |f| 
  
      %table{:border=>0, :class=>"main-form", :style=>"width=>100%"}
        %tr
          %td{:width=>'20%'}
            %h3 Investment risks macro
            
            %a{:href=>"#", :onclick=>  'DisplayPopUpEditor("stock_investment_risks_macro", "stock[investment_risks_macro]");',:class => "button-edit"} Edit
            = f.submit
          %td{:width=>'80%'}
            %div{:style=>"width=>100%"}
            = f.text_area :investment_risks_macro
        %tr
          %td
            %h3 Investment risks micro
            %a{:href=>"#", :onclick=>  'DisplayPopUpEditor("stock_investment_risks_macro", "stock[investment_risks_macro]");',:class => "button-edit"} Edit
            = f.submit
          %td
            = f.text_area :investment_risks_micro
            
        
  
  %div#tabs-12
    - form_for(@stock) do |f|  
      %table{:border=>0, :class=>"main-form"}
        %tr
          %td{:width=>'20%'}
            %h3 Business description
            %a{:href=>"#", :onclick=>  'DisplayPopUpEditor("stock_business_description", "stock[business_description]");',:class => "button-edit"} Edit
            = f.submit
          %td
            = f.text_area :business_description
            
    
    
  %div#tabs-13
    - form_for(@stock) do |f| 
      %table{:border=>0, :class=>"main-form"}
        %tr
          %td{:width=>'20%'}
            %h3 Competition
            %a{:href=>"#", :onclick=>  'DisplayPopUpEditor("stock_competition", "stock[competition]");',:class => "button-edit"} Edit
            = f.submit
          %td
            = f.text_area :competition
    
    
  %div#tabs-14
    - form_for(@stock) do |f| 
      %table{:border=>0, :class=>"main-form"}

        %tr
          %td{:width=>'20%'}
            %h3 Management
            %a{:href=>"#", :onclick=>  'DisplayPopUpEditor("stock_management", "stock[management]");',:class => "button-edit"} Edit
            = f.submit
          %td
            = f.text_area :management
    
