%p
  %a{:href=> "#", :id=>"add_discussion" ,:onClick => "add_window('contact', '1000', '300');", :class => "button"} Add a contact
  
%table{:border=>0, :class=>"main-form"}
  %thead
    %th Job title
    %th Name
    %th Position
    %th Email
    %th Phone
  %tbody
    - @stock.contacts.sort_by { |a| [ a.name || '' ]}.each do |mr|
      %tr
        %td= mr.job_title
        %td
          %a{:href=>"#", :onclick=>"edit_window('contact',"+mr.id.to_s+", 1000, 300)"}= mr.name.to_s+'(...)'
        %td= mr.title
        %td= mr.email
        %td= mr.telephone