%p
  %a{:href=> "#", :id=>"add_discussion" ,:onClick => "add_window('meetings_result', '1000', '500');", :class => "button"} Add a meeting
  
%table{:border=>0, :class=>"main-form"}
  %thead
    %th{:width => "10%"} Meeting type
    %th{:width => "35%"} Object
    %th{:width => "10%"} Meeting date
    %th{:width => "35%"} Conclusions
    %th{:width => "10%"} BDL Contact
  %tbody
    - @stock.meetings_results.sort_by {|a| a.send(:meeting_date) || Date.new(2000,01,01)}.reverse.each do |mr|
      %tr
        %td
          %a{:href=>"#", :onclick=>"edit_window('meetings_result',"+mr.id.to_s+", 1000, 500)"}= mr.meeting_type
        %td= mr.meeting_object
        %td
          %a{:href=>"#", :onclick=>"edit_window('meetings_result',"+mr.id.to_s+", 1000, 500)"}= mr.meeting_date
        %td= truncate(strip_tags(mr.meeting_conclusions), :length => 100, :omission => '... (extrait)')
        %td= mr.user.try(:initiales)
