%p
  %a{:href=> "#", :id=>"add_discussion" ,:onClick => "add_window('meetings_result', '1000', '500');", :class => "button"} Add a meeting
  
%table{:border=>0, :class=>"main-form"}
  %thead
    %th Meeting type
    %th Meeting date
    %th Contact
    %th BDL Contact
    %th Oject
  %tbody
    - @stock.meetings_results.each do |mr|
      %tr
        %td
          %a{:href=>"#", :onclick=>"edit_window('meetings_result',"+mr.id.to_s+", 1000, 500)"}= mr.meeting_type
        %td
          %a{:href=>"#", :onclick=>"edit_window('meetings_result',"+mr.id.to_s+", 1000, 500)"}= mr.meeting_date
        %td= mr.meeting_contact
        %td= mr.bdl_contact
        %td= mr.meeting_object