%table{:border=>0, :style=>"width:100%"}
  
  %tr
    %td
      %table
        - form_for(@stock) do |f|       
          %tr
            %td In charge
            %td= select("stock", "user_id", User.find(:all).collect {|u| [u.initiales,u.id]}, {:include_blank => '==Choisir=='})
          %tr
            %td In portfolio
            %td= f.check_box :is_in_portfolio
          %tr
            %td Flagged
            %td= f.check_box :flagged
          %tr
            %td Flag date
            %td= f.text_field :flag_date, :class => "datepicker"
          %tr
            %td Flag comment
            %td= f.text_field :flag_comment
  
          %tr
            
    %td
      %h3 Available analysis
      %ul
        - if @stock.sector
          - @stock.sector.details.sort_by { |a| [ a.sector_analysis_title || '' ]}.each do |detail|
            %li
              %a{:href=>'/details/'+detail.id.to_s+'/edit'}= detail.sector_analysis_title
      %p
        %a{:href=> "#", :id=>"add_detail" ,:onClick => "add_window('detail', '1000', '500');", :class => "button"} Add an analysis
  %tr
    %td
      - form_for(@stock) do |f| 
        %table
          %tr
            %h3 Stock properties
          %tr
            %td Sector
            %td= select("stock", "sector_id", Sector.find(:all).collect {|u| [u.sector_name,u.id]})
          %tr
            %td Stock name
            %td= f.text_field :stock_name
          %tr
            %td Ticker
            %td= f.text_field :ticker
          %tr
            
    %td
      %table
        - form_for(@stock) do |f| 
          %tr
            %h3 Rating
          %tr
            %td{:class => "tiny-tiny-input"}
              = radio_button("stock", "rating", "Good business")
              Good business
          %tr
            %td
              = radio_button("stock", "rating", "Neutral")
              Neutral
          %tr
            %td
              = radio_button("stock", "rating", "Bad business")
              Bad business
          %tr
            
  %tr
    %td{:colspan=>2}
      - form_for(@stock) do |f|      
        %table
          %tr
            %td
              %h3 Investment case
          %tr
            %td{:colspan=>2,:style=>'min-width:800px'}= f.text_area :investment_case
          %tr
            %td{:colspan=>2,:style=>'width:100%'}
              %a{:href=>"#", :onclick=>  'DisplayPopUpEditor("stock_investment_case", "stock[investment_case]");',:class => "button-edit"} Edit
  
  