<p id="notice"><%= notice %></p>

<p>
  <b>Stock name:</b>
  <%= @stock.stock_name %>
</p>

<p>
  <b>Sector:</b>
  <%= @stock.sector_id %>
</p>

<p>
  <b>In charge:</b>
  <%= @stock.in_charge %>
</p>

<p>
  <b>Environment:</b>
  <%= @stock.environment %>
</p>

<p>
  <b>Business description:</b>
  <%= @stock.business_description %>
</p>

<p>
  <b>Competition:</b>
  <%= @stock.competition %>
</p>

<p>
  <b>Management:</b>
  <%= @stock.management %>
</p>

<p>
  <b>Is in portfolio:</b>
  <%= @stock.is_in_portfolio %>
</p>

<p>
  <b>Valorisation:</b>
  <%= @stock.valorisation %>
</p>

<p>
  <b>Investment case:</b>
  <%= @stock.investment_case %>
</p>

<p>
  <b>Investment risks macro:</b>
  <%= @stock.investment_risks_macro %>
</p>

<p>
  <b>Investment risks micro:</b>
  <%= @stock.investment_risks_micro %>
</p>

<p>
  <b>Rating:</b>
  <%= @stock.rating %>
</p>

<p>
  <b>Ticker:</b>
  <%= @stock.ticker %>
</p>

<p>
  <b>Flagged:</b>
  <%= @stock.flagged %>
</p>

<p>
  <b>Flag date:</b>
  <%= @stock.flag_date %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
