%table{:style=>"width:100%"}
  %tr
    %td
      %h3 Find a stock
      %input{:id=>'stock_search'}
      %h3 Find a sector
      %input{:id=>'sector_search'}
      %h3 Full text search
      %form{:method=>"get", "action"=>"/settings/search"}
        %input{:id=>'full_text_search', :name=>"query"}
        
        %input{:id=>'submit', :type=>:submit, :value=>"Search"} 
      
    %td
      %table{:style=>"width:100%"}
        %tr
          %td
            %h3 My last stocks
        %tr
          %td
            %table{:style=>"width:100%", :border=>1}
              %tr
                %td Stock
                %td Rating
              - if @user
                - @user.stocks.find(:all, :order => 'updated_at desc', :limit => 5).each do |stock|
                  %tr
                    %td
                      %a{:href=>'/stocks/'+stock.id.to_s+'/edit'}= stock.stock_name
                    %td= stock.rating

        %tr
          %td
            %h3 Queries
            %ul
              %li
                %a{:href => '/stocks?type=my_stocks'} My stocks
                &nbsp;//
                %a{:href => '/stocks?type=my_flagged_stocks'} My flagged stocks
              %li
                Portfolio
                %a{:href => '/stocks?type=portfolio'} Yes
                &nbsp;//
                %a{:href => '/stocks?type=not_in_portfolio'} No
              %li
                Flagged stocks : 
                %a{:href => '/stocks?type=flagged'} Yes
                &nbsp;//
                %a{:href => '/stocks?type=not_flagged'} No 
              %li
                BDL Position :
                %a{:href => '/stocks?type=posneutral'} Neutral
                &nbsp;//
                %a{:href => '/stocks?type=poslong'} Long
                &nbsp;//
                %a{:href => '/stocks?type=posshort'} Short
              %li
                Rating : 
                %a{:href => '/stocks?type=good_business'} Good business
                &nbsp;//
                %a{:href => '/stocks?type=bad_business'} Bad business
                &nbsp;//
                %a{:href => '/stocks?type=neutral'} Neutral
              %li
                %a{:href => '/contacts'} Contact list
              %li
                %a{:href => '/details'} Analysis
  %tr
    %td{:colspan=>2}
      %h3 Upcoming stocks
  %tr
    %td{:colspan=>2}
      %table{:style=>"width:100%",:border=>1}
        %thead
          %th Stock name
          %th Flag date
          %th Sector
        %tbody
          -if @user
            - @user.stocks.find(:all, :limit => 5, :order => 'flag_date desc', :conditions=>{:flagged=>1}).each do |stock|
              %tr
                %td
                  %a{:href=>'/stocks/'+stock.id.to_s+'/edit'}= stock.stock_name
                -if stock.flag_date
                  %td{:class => date_history(stock.flag_date)}= stock.flag_date.strftime("%d/%m/%Y")
                -else
                  %td
                %td
                  %a{:href=>'/sectors/'+stock.sector_id.to_s}= stock.sector.sector_name
                
                
%div#footer
  %br
  %br
  %span#login
    Logged in as 
    =current_user.nom
    %a{:href=>'/users/sign_out'} Sign out 
    &nbsp;//
    %a{:href=>'/settings'} Administration
    
-if @stocks_today && !@stocks_today.empty?    
  :javascript
    window.open ('/stocks_of_the_day', 'Stocks of the day', config='height=100, width=400, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no')


    
