%div#navbar
  %ul
    %li
      
      %a{:href=>"javascript:history.back()"} Back
      %a{:href=>"/"} Home

%div#page-content
  - form_for(@bdl_discussion) do |f| 
    =f.hidden_field :stock_id
    %table{:class=>"main-form"}
      %tr
        %td Date
        %td= f.text_field :discussion_date, :class=>"datepicker"
      %tr
        %td Stock price
        %td= f.text_field :stock_price
      %tr
        %td BDL Position
        %td= f.select :position_bdl, ["Neutral","Long","Short"]
      %tr
        %td 
          BDL View
          %a{:href=>"#", :onclick=>  'DisplayPopUpEditor("bdl_discussion_view_bdl", "bdl_discussion[view_bdl]");',:class => "button-edit"} Edit
        %td= f.text_area :view_bdl

      %tr{:class=>"hide"}
        %td
        %td= f.submit
