<%= form_for(@detail) do |f| %>
  <% if @detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

      <ul>
      <% @detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sector_id %><br />
    <%= f.text_field :sector_id %>
  </div>
  <div class="field">
    <%= f.label :sector_analysis_title %><br />
    <%= f.text_field :sector_analysis_title %>
  </div>
  <div class="field">
    <%= f.label :sector_analysis_text %><br />
    <%= f.text_area :sector_analysis_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
